#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.product-card {
  border: 1px solid blueviolet;
  max-width: 350px;
  text-align: left;
  border-radius: 12px;
  margin: 10px 20px;
box-sizing: border-box;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.content-area {
  padding: 0px 15px;
}
.thumnail {
  max-width: 100%;
  border-radius: 12px 12px 0px 0px;
}

.menu-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
li {
  padding: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}